@media screen and (max-width: 640px) {

html {
    font-size: 14px;
}

.menu a {
    display: block;
}

.menu a.active, .menu a:hover {
    border-bottom: none;
    border-left: 2px solid #585858;
}

.logo {
    transform: scale(0.7);
    transform-origin: left top;
}

.bigtext {
    font-size: 180%;
}


}
