body {
  background-repeat: no-repeat;
  background-position:center top;
  background-attachment: fixed;
  background-size: cover;
  padding: 0 5%;
}

body::after {
  content: "";
  background-repeat: no-repeat;
  background-position:center top;
  background-attachment: fixed;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}


body.index {
  background-image: url(../images/Su1.jpg);
}

body.vita::after {
  background-image: url(../images/Su2.jpg);
  background-position:right top;
}

body.kontakt {
  background-image: url(../images/Su3.jpg);
}

body.kontakt .bigtext {
    bottom: 15%;
}




.cv {
  padding-left: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 50px;
  border-left: 3px dotted $primary-color;
}

.cv > div {
  position: relative;
  margin: 20px 0;
  max-width: 300px;
}

.cv > div:before {
  content: "\f111";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  position: absolute;
  left: -58.5px;
  top: 4px;
}
