body {
  padding: 0 5%;
}


html::after {
  content: "";
  position: fixed;
  top: 0;
  height: 100vh;
  left: 0;
  right: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-position:center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


html.index::after {
  background-image: url(../images/Definitiv-69.jpg);
  background-position:right center;
}

html.vita::after {
  background-image: url(../images/Definitiv-37.jpg);
  background-position:center top;
}

html.agenda::after {
  background-image: url(../images/Definitiv-97.jpg);
}

html.kontakt::after {
  background-image: url(../images/Definitiv-34.jpg);
}

html.fotos::after {
  background-image: url(../images/background-61.jpg);
  background-position:center top;
}

html.kontakt .bigtext {
    bottom: 15%;
}




.cv {
  padding-left: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 50px;
  margin-right: 20%;
  border-left: 3px dotted $primary-color;
  max-width: 300px;
  /*
  position: absolute;
  right: 0;
  */
}

.cv > div {
  position: relative;
  margin: 20px 0;
}

.cv > div:before {
  content: "\f111";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  position: absolute;
  left: -58.5px;
  top: 4px;
}
